@charset 'utf-8';

/*Fonts
font-family: 'Cookie', cursive;
font-family: 'Hina Mincho', serif;
font-family: 'Kaisei HarunoUmi', serif;
font-family: 'Kaisei Opti', serif;
font-family: 'Klee One', cursive;
font-family: 'Nothing You Could Do', cursive;
*/

/* Color Pallet
#EAFDFC  アイスブルー
#BFEAF5　淡い水色
#91D8E4　水色
#82AAE3 　青
#63898D 深い青
*/

/* 全体 */
main {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    70deg,
    rgba(30, 103, 205, 0.678) 0%,
    rgba(234, 253, 252, 0.822) 100%
  );
}

.ajisai {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-blend-mode: lighten;
  z-index: 2;
}

/* 左側 */
.lSec {
  width: 25%;
}

.ArtistTitle {
  font-family: "Kaisei HarunoUmi", serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 40px;
}

h1 {
  margin: 20px 0 30px 50px;
  font-size: 60px;
  font-stretch: ultra-condensed;
}

.vertical1 {
  color: #eafdfc;
  text-shadow: rgb(128, 128, 126) 1px 0 10px;
}

.vertical2 {
  color: #63898d;
  text-shadow: rgb(222, 222, 220) 1px 0 10px;
}

h2 {
  font-size: 30px;
  padding-top: 250px;
}

.lSecLower {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

/* 真ん中 */
.mSec {
  width: 50%;
  padding-left: 5%;
}

.mSec-upper {
  position: relative;
  margin: 0 auto;
  height: 80%;
  /* top: 5%; */
  /* width: 30%; */
  /* transform: translate(-40%, -40%); */
}

/* 円形 */
.sec-wrapper {
  position: absolute;
  top: 5%;
  margin-top: 0%;
  width: 540px;
  height: 540px;
  border-radius: 50%;
  background-color: #82aae3;
  margin-left: 3.8%;
  padding: 70px;
  opacity: 0.85;
}

/* Biography */
.sec-title1 {
  font-family: "Kaisei HarunoUmi", serif;
  color: #fff;
  margin: 60px 50px 0 0px;
  text-align: right;
  font-size: 60px;
}

.sec-title2 {
  font-family: "Kaisei HarunoUmi", serif;
  color: #fff;
  margin: 60px 0 0 50px;
  text-align: left;
  font-size: 60px;
}

.sec-position1 {
  font-family: "Kaisei HarunoUmi", serif;
  color: #fff;
  margin-right: 20px;
  text-align: right;
  font-size: 35px;
}

.sec-position2 {
  font-family: "Kaisei HarunoUmi", serif;
  color: #fff;
  margin-left: 20px;
  text-align: left;
  font-size: 35px;
}

.bio-birth1 {
  font-family: "Hina Mincho", serif;
  color: #fff;
  margin: 10px 0 40px 20px;
  text-align: right;
  font-size: 22px;
}

.bio-birth2 {
  font-family: "Hina Mincho", serif;
  color: #fff;
  margin: 10px 0 40px 0;
  text-align: left;
  font-size: 22px;
}

.bio-text {
  margin: 0 0 0 10px;
  font-family: "Hina Mincho", serif;
  color: #334c71;
  font-size: 20px;
  line-height: 180%;
  text-align: justify;
  font-weight: bold;
  padding: 10px;
}

/* アーティスト写真 */
.drop1 {
  position: absolute;
  top: 3%;
  left: 0;
  z-index: 8;
}

.drop2 {
  position: absolute;
  top: 3%;
  right: 0;
  z-index: 8;
}

/* News */

.news-container {
  margin: 50px 0 0 15px;
  height: 420px;
  width: 480px;
  padding: 10px;
  overflow: scroll;
}

.news-title {
  font-family: "Kaisei HarunoUmi", serif;
  color: #fff;
  margin: 20px auto;
  text-align: left;
  font-size: 22px;
}

.news-text {
  margin: 0 0 20px 0;
  font-family: "Hina Mincho", serif;
  color: #334c71;
  font-size: 16px;
  line-height: 180%;
  text-align: justify;
  font-weight: bold;
}

a#download {
  color: #bfeaf5;
  font-weight: bold;
}

.mSec-lower {
  position: absolute;
  top: 70%;
  left: 25%;
}

.rSec {
  width: 25%;
  justify-content: end;
}

h3 {
  font-family: "Nothing You Could Do", cursive;
  font-size: 40px;
  color: #63898d;
}

/* Discography */
.plate1 {
  width: 240px;
  height: 240px;
  /* background-color: #eafdfc; */
  background: rgba(234, 253, 252, 0.36);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(234, 253, 252, 0.1);
  opacity: 0.9;
  line-height: 240px;
  text-align: center;
  border-radius: 50%;
  margin: 0 20px 30px 0;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-duration: 1.2s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
  box-shadow: 0 0 50px 10px hwb(75 85% 13% / 0.608);
}

/* News */
.plate2 {
  position: relabative;
  left: -10%;
  width: 140px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  border-radius: 50%;
  margin: 0 0 10px 50px;
  /* background-color: #bfeaf5; */
  background: rgba(160, 226, 243, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  border: 1px solid rgba(160, 226, 243, 0.1);
  opacity: 0.8;
  animation-name: bounce;
  animation-duration: 1.4s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
  box-shadow: 0 0 50px 10px hwb(75 85% 13% / 0.608);
}

/* Top */
.plate3 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  margin: 0 0 30px 50px;
  /* background-color: #bfeaf5; */
  background: rgba(148, 228, 251, 0.58);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(148, 228, 251, 0.1);
  opacity: 0.9;
  /* animation-name: bounce;
  animation-duration: 1.2s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite; */
  /* box-shadow: 0 0 50px 10px hwb(75 85% 13% / 0.608); */
}

/* Biography */
.plate4 {
  left: -10%;
  width: 200px;
  height: 200px;
  /* background-color: #eafdfc; */
  background: rgba(234, 253, 252, 0.63);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(234, 253, 252, 0.15);
  opacity: 0.8;
  line-height: 200px;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
  box-shadow: 0 0 50px 10px hwb(75 85% 13% / 0.608);
}

/* Special */
.plate5 {
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  border-radius: 50%;
  margin: 200px 30px 0 0;
  /* background-color: #bfeaf5; */
  background: rgba(160, 226, 243, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  border: 1px solid rgba(160, 226, 243, 0.1);
  opacity: 0.9;
  animation-name: bounce;
  animation-duration: 0.9s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
  box-shadow: 0 0 50px 10px hwb(75 85% 13% / 0.608);
}

h3#current {
  /* background-color: #82aae3 !important; */
  background: rgba(130, 170, 227, 0.63) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(130, 170, 227, 0.15);
  color: #fff;
  animation: none;
}

/* 飛ぶ設定 */
@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 200px, 0);
  }
}
/* Prefix Support */

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
}

.rSecUpper {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  margin: 20px 30px 0 0;
}

.rSecLower {
  align-self: end;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0 20px 0 0;
}

/* youtube設定 */
.player-wrapper {
  position: relative;
  top: 5%;
  left: 15%;
  border-radius: 50%;
  width: 700px;
  height: 700px;
  overflow: hidden;
  margin-left: -50px;
  z-index: 10;
}

.player-wrapper iframe {
  position: absolute;
  top: 0;
  left: -270px;
  border: 0;
}

.player-wrapper img {
  position: absolute;
  top: 0;
  bottom: 0;
  border: 0;
}

/* リンク関連 */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
